<div class="slds-m-around--small">
  <form name="resultForm" novalidate="true">
    <!-- 取引先名 -->
    <div class="slds-form-element slds-has-divider--bottom">
      <span class="slds-form-element__label">Name</span>
      <div class="slds-form-element__control">
        <span class="slds-form-element__static" ng-bind="account.Name"></span>
      </div>
    </div>
    <!-- 取引先番号 -->
    <div class="slds-form-element slds-has-divider--bottom">
      <span class="slds-form-element__label">Account Number</span>
      <div class="slds-form-element__control">
        <span class="slds-form-element__static" ng-bind="account.AccountNumber"></span>
      </div>
    </div>
    <!-- ボタン -->
    <div class="slds-m-top--small">
      <a href="#/" class="slds-button slds-button--brand">一覧に戻る</a>
    </div>
  </form>
</div>